Test for logic in acf_sttc_trial_avg

In [13]:
import numpy as np
from scipy.optimize import curve_fit, OptimizeWarning

# import from scripts
import os
os.chdir(os.path.expanduser("D:\\intr_timescales\\isttc\\scripts"))
#os.chdir(os.path.expanduser("C:\\Users\\ipoch\\Documents\\repos\\isttc\\scripts"))
from calculate_acf import sttc_fixed_2t, sttc_calculate_t

In [5]:
def func_single_exp_monkey_like(x, a, b, c):
    #return a * np.exp(-b * x) + c
    return a * (np.exp(-b * x) + c) # as in the paper

### Get data

In [6]:
spikes_trials_30 = np.load('Q:\\Personal\\Irina\\projects\\isttc\\results\\synthetic_data\\test_full_split\\trials_30_runs_1\\spikes_trials_30.npy', 
                           allow_pickle=True)

### Run

In [33]:
num_lags = 20
bin_size = 50
sttc_dt = 49
signal_len = 100000

n_trials = 30
trial_len = num_lags * bin_size

In [16]:
def get_lag_arrays(spike_train_l_: list, lag_1_idx_: int, lag_2_idx_: int, lag_shift_: int, zero_padding_len_: int):
    """

    :param spike_train_l_: list of spike trains, every element of the list contains spikes from 1 trial, length of the
    list is equal to the number of trials. Spike times are realigned (each trial starts at time 0).
    :param lag_1_idx_: int, index for the first lag.
    :param lag_2_idx_: int, index for the first lag.
    :param lag_shift_: int, shift for a time lag (in time points)
    :param zero_padding_len_: int, len of zero padding (in time points).
    :return: Two 1D arrays containing spike times for lag 1 and lag 2.
    """

    def extract_lag(spike_train: np.ndarray, lag_idx: int, lag_shift: int) -> np.ndarray:
        """Extract spikes corresponding to a specific lag."""
        start = lag_idx * lag_shift
        end = start + lag_shift
        return spike_train[(spike_train > start) & (spike_train <= end)]

    def add_spacing(lag_list: list, spacing: int) -> list:
        """Add zero-padding spacing to lag arrays."""
        return [lag + i * spacing for i, lag in enumerate(lag_list)]

    # Extract spikes for both lags
    first_lag_l = [extract_lag(trial, lag_1_idx_, lag_shift_) for trial in spike_train_l_]
    second_lag_l = [extract_lag(trial, lag_2_idx_, lag_shift_) for trial in spike_train_l_]

    # Add padding zeros
    first_lag_spaced = add_spacing(first_lag_l, zero_padding_len_)
    second_lag_spaced = add_spacing(second_lag_l, zero_padding_len_)

    # Flatten arrays to 1D
    lag1_l = np.hstack(first_lag_spaced).tolist() if first_lag_spaced else []
    lag2_l = np.hstack(second_lag_spaced).tolist() if second_lag_spaced else []
    return lag1_l, lag2_l

In [34]:
def acf_sttc_trial_avg_v3(spike_train_l_: list, n_lags_: int, lag_shift_: int, sttc_dt_: int, zero_padding_len_: int,
                          verbose_: bool = True):
    """
    Trial average autocorrelation using STTC. T term is calculated as in sttc_trail_concat but now trials are chunks of
    lag_shift size.

    :param sttc_dt_:
    :param spike_train_l_: list of spike trains, every element of the list contains spikes from 1 trial, length of the
    list is equal to the number of trials. Spike times are realigned (each trial starts at time 0).
    :param n_lags_: int, number of lags
    :param lag_shift_:
    :param zero_padding_len_:
    :param verbose_:
    :return:
    """
    def extract_lag(spike_train: np.ndarray, lag_idx: int, lag_shift: int) -> np.ndarray:
        """Extract spikes corresponding to a specific lag."""
        start = lag_idx * lag_shift
        end = start + lag_shift
        return spike_train[(spike_train > start) & (spike_train <= end)]

    def calculate_t_term(spike_train_l, trial_len, dt, verbose):
        abs_time_sum = sum(sttc_calculate_t(spike_train, len(spike_train), dt, 0, trial_len, verbose)[0]
                           for spike_train in spike_train_l)
        return abs_time_sum / (len(spike_train_l) * trial_len)

    if verbose_:
        print('Processing {} trials: n lags {}, lag shift {}, sttc dt {}, zero padding len {}'.
              format(len(spike_train_l_), n_lags_, lag_shift_, sttc_dt_, zero_padding_len_))
    acf_matrix = np.zeros((n_lags_, n_lags_))

    # t_start = 0
    # t_stop = (len(spike_train_l_) - 1) * zero_padding_len_ + lag_shift_
    # if verbose_:
    #     print(t_start, t_stop, len(spike_train_l_))

    for i in np.arange(n_lags_ - 1):
        for j in np.arange(i + 1, n_lags_):  # filling i-th row
            # print('i = {}, j = {}'.format(i, j))
            # get arrays for T term calculation - without zero padding
            # Extract spikes for both lags
            first_lag_l = [extract_lag(trial, i, lag_shift_) for trial in spike_train_l_]
            second_lag_l = [extract_lag(trial, j, lag_shift_) for trial in spike_train_l_]
            # print('first_lag_l: {}'.format(first_lag_l))
            # print('second_lag_l: {}'.format(second_lag_l))
            first_lag_l_aligned = [trial - lag_shift_ * i for trial in first_lag_l]
            first_lag_2_aligned = [trial - lag_shift_ * j for trial in second_lag_l]
            # print('first_lag_l_aligned: {}'.format(first_lag_l_aligned))
            # print('first_lag_2_aligned: {}'.format(first_lag_2_aligned))
            l1_t = calculate_t_term(first_lag_l_aligned, lag_shift_, sttc_dt_, verbose_)
            l2_t = calculate_t_term(first_lag_2_aligned, lag_shift_, sttc_dt_, verbose_)

            # get arrays for sttc - with zero padding
            lag_1_spikes_l, lag_2_spikes_l = get_lag_arrays(spike_train_l_, i, j,
                                                            lag_shift_=lag_shift_, zero_padding_len_=zero_padding_len_)
            #print('lag_1_spikes_l: {}'.format(lag_1_spikes_l))
            #print('lag_2_spikes_l: {}'.format(lag_2_spikes_l))
            l1_aligned = [spike - lag_shift_ * i for spike in lag_1_spikes_l]
            l2_aligned = [spike - lag_shift_ * j for spike in lag_2_spikes_l]
            #print('l1_aligned: {}'.format(l1_aligned))
            #print('l2_aligned: {}'.format(l2_aligned))
            sttc_lag = sttc_fixed_2t(l1_aligned, l2_aligned, sttc_dt_, t_a_=l1_t, t_b_=l2_t, verbose_=verbose_)
            acf_matrix[i, j] = sttc_lag

    np.fill_diagonal(acf_matrix, 1)

    acf_average = np.zeros((n_lags_,))
    for i in range(n_lags_):
        acf_average[i] = np.nanmean(np.diag(acf_matrix, k=i))

    return acf_matrix, acf_average

In [31]:
spikes_trials_30

array([array([247, 271, 279, 291, 294, 334, 390, 395, 412, 419, 421, 428, 433,
              453, 483, 496, 499, 573, 686, 716, 722, 731, 773, 776, 778, 805,
              817, 828, 829, 846, 847, 861, 864, 867, 869, 875, 878, 879, 883,
              895], dtype=int64)                                              ,
       array([ 25,  40,  50,  54,  59,  61,  63, 166, 167, 173, 175, 452, 453,
              461, 462, 463, 474, 505, 523, 528, 532, 534, 537, 544, 545, 551,
              557, 562, 564, 569, 575, 576, 585, 587, 594, 598, 620, 661, 665,
              911], dtype=int64)                                              ,
       array([128, 144, 170, 195, 209, 210, 216, 223, 224, 232, 237, 244, 245,
              250, 251, 259, 265, 280, 288, 303, 304, 331, 357, 358, 381, 392,
              418, 422, 428, 433, 438, 442, 443, 450, 452, 453, 481, 483, 487,
              488, 489, 492, 503, 507, 511, 516, 517, 519, 521, 526, 529, 531,
              533, 537, 542, 544, 550, 553, 561, 562, 569, 571, 582, 586, 601,
              614, 615, 617, 624, 639, 649, 653, 663, 690, 825, 840, 861, 869,
              886], dtype=int64)                                              ,
       array([ 90, 123, 162, 181, 200, 202, 206, 220, 224, 229, 230, 234, 248,
              249, 252, 258, 260, 264, 309, 316, 318, 323, 339, 344, 948, 951,
              993, 997], dtype=int64)                                         ,
       array([170, 177, 215, 244, 249, 259, 261, 262, 267, 279, 284, 285, 293,
              406, 419, 554, 561, 861], dtype=int64)                          ,
       array([ 33,  56,  85,  92, 109, 142, 156, 178, 181, 185, 236, 240, 246,
              247, 249, 265, 274, 277, 279, 281, 290, 292, 293, 295, 297, 310,
              314, 379, 380, 387, 392, 395, 521, 533, 569, 581, 675, 677, 682,
              704, 705, 711, 718, 722, 730, 918, 923, 924, 992], dtype=int64) ,
       array([ 22,  28,  32,  43,  45,  54,  55,  57,  59, 103, 104, 114, 125,
              129, 134, 138, 142, 144, 151, 158, 170, 181, 185, 191, 217, 219,
              243, 245, 251, 262, 294, 302, 311, 313, 318, 324, 326, 350, 363,
              368, 381, 392, 467, 480, 491, 494, 522, 544, 545, 550, 555, 557,
              559, 569, 571, 573, 576, 577, 594, 608, 630, 650, 657, 672, 688,
              766, 779, 780, 781, 787, 789, 791, 798, 808, 811, 823, 829, 832,
              836, 846, 847, 852, 856, 857, 863, 867, 873, 886, 887, 890, 902,
              905, 906, 918, 923, 924, 935, 940, 951, 952, 955, 956, 974, 992],
             dtype=int64)                                                      ,
       array([  3,   9,  23,  50,  56,  57,  63,  69,  81,  82,  85,  90, 100,
              114, 124, 125, 126, 128, 143, 146, 155, 158, 190, 363, 415, 421,
              435, 436, 448, 453, 469, 475, 476, 481, 488, 497, 502, 505, 508,
              546, 632, 883, 884, 891, 894, 916, 920, 927, 947, 987, 988],
             dtype=int64)                                                     ,
       array([627, 674, 682, 684, 723, 728, 791, 807, 812, 814, 817, 818, 824,
              826, 828, 843, 856, 859, 860, 861, 862, 864, 866, 868, 869, 870,
              872, 889], dtype=int64)                                         ,
       array([318, 319, 335, 771, 779, 818, 900, 946, 948, 968, 972, 973, 992],
             dtype=int64)                                                      ,
       array([514, 533, 539, 547, 551, 558, 570, 582, 585, 907, 917, 952, 957,
              989, 995], dtype=int64)                                         ,
       array([136, 146, 181, 186, 218, 224, 235, 239, 247, 253, 265, 291, 300,
              302, 304, 307, 322, 329, 333, 343, 347, 353, 354, 367, 370, 378,
              382, 388, 399, 411, 767, 862, 865, 888, 982, 989, 990, 991, 996,
              997, 998], dtype=int64)                                         ,
       array([  5,  23, 168, 175, 188, 203, 211, 219, 225, 235, 236, 242, 251,
              267, 268, 279, 280, 282, 285, 286, 288, 328, 346, 373, 410, 420,
              426, 439, 450, 474, 488, 530, 534, 541, 551, 558, 559, 580, 595,
              619, 636, 640, 646, 655, 656, 663, 664, 678, 679, 683, 700, 703,
              708, 709, 710, 715, 725, 727, 729, 732, 736, 744, 754, 782, 815,
              819, 890, 902], dtype=int64)                                    ,
       array([ 88,  91,  98, 101, 103, 128, 137, 144, 186, 188, 198, 202, 210,
              213, 226, 321, 327, 336, 343, 405, 455, 460, 467, 471, 474, 479,
              480, 482, 489, 493, 494, 506, 508, 511, 520, 527, 531, 533, 535,
              546, 554, 636, 642, 649, 949, 957, 960], dtype=int64)           ,
       array([  9,  12,  28,  40,  42,  85,  94, 114, 115, 118, 128, 136, 142,
              149, 177, 181, 198, 205, 212, 224, 233, 259, 262, 263, 274, 276,
              285, 286, 291, 296, 302, 304, 309, 313, 314, 328, 330, 338, 373,
              375, 378, 525, 527, 558, 599, 609, 620, 624, 625, 635, 639, 641,
              644, 646, 647, 650, 651, 655, 656, 657, 659, 669, 678, 693, 709,
              710, 714, 719, 732, 733, 739, 741, 748, 763, 770, 775, 784, 788,
              790, 796, 797, 799, 805, 813, 815, 816, 832, 834, 839, 846, 861,
              885, 890, 895, 898, 899, 901, 908, 909, 913, 922, 925, 942, 945,
              954, 962, 963, 965, 997], dtype=int64)                          ,
       array([ 64,  84,  90,  98, 132, 156, 158, 162, 163, 164, 165, 179, 181,
              190, 192, 199, 202, 207, 220, 239, 607, 614, 678, 680, 701, 705,
              708, 722, 723, 733, 744, 749, 752, 753, 766, 767, 770, 777, 782,
              783, 785, 794, 800, 804, 810, 812, 816, 828, 831, 837, 859, 865,
              871, 880, 884, 893, 913, 944, 950, 953, 962, 982, 992], dtype=int64),
       array([145, 148, 151, 158, 175, 177, 192, 193, 228, 236, 238, 250, 253,
              260, 263, 266, 270, 292, 300, 302, 308, 310, 313, 321, 322, 331,
              336, 338, 343, 347, 360, 368, 393, 401, 408, 415, 449, 451, 455,
              460, 465, 471, 476, 870, 882, 886, 896, 919, 921, 927, 936, 938,
              944, 955, 970, 974, 977, 986, 993], dtype=int64)                ,
       array([ 28,  85, 282, 292, 294, 298, 305, 326, 327, 334, 911, 927, 953,
              978, 992, 993, 999], dtype=int64)                               ,
       array([ 12,  15,  19,  70,  74,  80,  81,  83,  99, 108, 111, 113, 115,
              124, 126, 127, 129, 131, 144, 148, 213, 214, 221, 226, 229, 355,
              367, 403, 415, 509, 511, 516, 538, 539, 545, 552, 556, 564, 752,
              757, 758, 826, 843, 846, 849, 866, 869, 874, 877, 885, 895, 896,
              908, 917, 928, 932, 933, 934, 938, 944, 960, 966, 969, 973, 990,
              991], dtype=int64)                                              ,
       array([  8,   9,  14,  17,  24,  27,  38,  48,  60,  74,  88, 102, 106,
              259, 260, 274, 297, 299, 308, 311, 316, 318, 324, 326, 351, 353,
              356, 364, 376, 388, 390, 393, 395, 405, 847, 852], dtype=int64) ,
       array([468, 515, 523, 525, 564, 569, 632, 648, 653, 655, 658, 659, 665,
              667, 669, 684, 697, 700, 701, 702, 703, 705, 707, 709, 710, 711,
              713, 730], dtype=int64)                                         ,
       array([117, 175, 194, 209, 223, 226, 251, 274, 286, 288, 291, 298, 309,
              310, 317, 319, 327, 337, 342, 343, 358, 360, 364, 367, 368, 378,
              380, 386, 400, 443, 451, 463, 485, 791, 810, 816, 830, 857, 863,
              864, 870, 876, 888, 889, 892, 897, 907, 921, 931, 932, 933, 935,
              950, 953, 962, 965, 997], dtype=int64)                          ,
       array([  0, 251, 438, 470, 474, 481, 485, 507, 514, 517, 523, 528, 534,
              538, 539, 547, 548, 549, 557, 594, 676, 700, 711, 712, 713, 719,
              720, 743, 751, 756, 771, 785, 804, 838, 845, 848, 861, 863, 864,
              866, 867, 876, 901, 907], dtype=int64)                          ,
       array([ 50,  65,  70,  74,  76,  83, 131, 172, 174, 182, 205, 210, 211,
              245, 561], dtype=int64)                                         ,
       array([209, 266, 276, 290, 291, 292, 308, 326, 388, 421, 442, 445, 451,
              456, 474, 487, 511, 533, 538, 541, 548, 551, 559, 565, 596, 820],
             dtype=int64)                                                      ,
       array([ 14,  15,  19,  24,  37,  38,  44,  46,  53,  68,  75,  80,  89,
               93,  95, 101, 102, 104, 110, 118, 120, 121, 137, 139, 144, 151,
              166, 190, 195, 200, 203, 204, 206, 213, 214, 218, 227, 230, 247,
              250, 259, 267, 268, 270, 302, 329, 411, 435, 436, 444, 481, 485,
              514, 518, 520, 532, 543, 545, 554, 555, 563, 564, 599, 602, 606,
              616, 740, 808, 812, 821, 829, 836, 851, 859, 861, 863, 868, 883,
              884, 885, 892, 896, 911, 916, 917, 918, 926, 929, 937, 954, 983,
              986, 995], dtype=int64)                                         ,
       array([  5,  11,  68, 124, 161, 169, 392, 407, 417, 421, 426, 428, 430,
              533, 534, 540, 542, 819, 820, 828, 829, 830, 841, 872, 890, 895,
              899, 901, 904, 911, 912, 918, 924, 929, 931, 936, 942, 943, 952,
              954, 961, 965, 987], dtype=int64)                               ,
       array([128, 135, 146, 153, 170, 171, 185, 190, 195, 203, 206, 209, 212,
              215, 223, 231, 233, 236, 242, 244, 245, 247, 248, 264, 278, 282,
              309, 322, 332, 336, 342, 345, 364, 368, 371, 379, 473, 475, 480,
              505, 531, 536, 579, 586, 600, 602, 606, 608, 614, 616, 626, 631,
              632, 636, 640, 641, 643, 646, 648, 664, 802, 881, 914, 919],
             dtype=int64)                                                     ,
       array([ 10,  17,  81,  83, 104, 108, 111, 125, 126, 136, 147, 152, 155,
              156, 169, 170, 173, 180, 185, 186, 188, 197, 203, 207, 213, 215,
              219, 231, 234, 240, 262, 268, 274, 283, 287, 296, 316, 347, 353,
              356, 365, 385, 395, 414, 495, 514, 518, 525, 532, 540, 544, 556,
              560, 584, 593, 594, 606, 631, 643, 649, 655, 676, 686, 687, 705,
              829, 845, 866, 902, 909], dtype=int64)                          ,
       array([ 52, 192, 362, 373, 387, 388, 389, 402, 411, 420, 427, 429, 430,
              436, 440, 443, 454, 468, 473, 477, 482, 488, 538, 541, 545, 551,
              557, 561, 562, 566, 571, 575, 582, 594, 606, 651, 657, 659, 660,
              663, 670, 671, 674, 676, 710, 712, 725, 740, 804, 897, 909, 912,
              916, 930, 955, 978, 985, 986, 999], dtype=int64)                ],
      dtype=object)

In [35]:
sttc_matrix_trail_avg, sttc_average_trial_avg = acf_sttc_trial_avg_v3(spikes_trials_30, 
                                                                   n_lags_ = num_lags,
                                                                   lag_shift_=bin_size, 
                                                                   zero_padding_len_=250, 
                                                                   sttc_dt_=sttc_dt, 
                                                                   verbose_=False)
spike_train_trial_avg_sttc_popt, _ = curve_fit(func_single_exp_monkey_like, np.linspace(0,19,20), sttc_average_trial_avg, maxfev=5000)
spike_train_trial_avg_sttc_tau_ms = (1/spike_train_trial_avg_sttc_popt[1]) * bin_size
print(spike_train_trial_avg_sttc_tau_ms)

66.55308493335758

In [17]:
spikes_trials_30

array([array([247, 271, 279, 291, 294, 334, 390, 395, 412, 419, 421, 428, 433,
              453, 483, 496, 499, 573, 686, 716, 722, 731, 773, 776, 778, 805,
              817, 828, 829, 846, 847, 861, 864, 867, 869, 875, 878, 879, 883,
              895], dtype=int64)                                              ,
       array([ 25,  40,  50,  54,  59,  61,  63, 166, 167, 173, 175, 452, 453,
              461, 462, 463, 474, 505, 523, 528, 532, 534, 537, 544, 545, 551,
              557, 562, 564, 569, 575, 576, 585, 587, 594, 598, 620, 661, 665,
              911], dtype=int64)                                              ,
       array([128, 144, 170, 195, 209, 210, 216, 223, 224, 232, 237, 244, 245,
              250, 251, 259, 265, 280, 288, 303, 304, 331, 357, 358, 381, 392,
              418, 422, 428, 433, 438, 442, 443, 450, 452, 453, 481, 483, 487,
              488, 489, 492, 503, 507, 511, 516, 517, 519, 521, 526, 529, 531,
              533, 537, 542, 544, 550, 553, 561, 562, 569, 571, 582, 586, 601,
              614, 615, 617, 624, 639, 649, 653, 663, 690, 825, 840, 861, 869,
              886], dtype=int64)                                              ,
       array([ 90, 123, 162, 181, 200, 202, 206, 220, 224, 229, 230, 234, 248,
              249, 252, 258, 260, 264, 309, 316, 318, 323, 339, 344, 948, 951,
              993, 997], dtype=int64)                                         ,
       array([170, 177, 215, 244, 249, 259, 261, 262, 267, 279, 284, 285, 293,
              406, 419, 554, 561, 861], dtype=int64)                          ,
       array([ 33,  56,  85,  92, 109, 142, 156, 178, 181, 185, 236, 240, 246,
              247, 249, 265, 274, 277, 279, 281, 290, 292, 293, 295, 297, 310,
              314, 379, 380, 387, 392, 395, 521, 533, 569, 581, 675, 677, 682,
              704, 705, 711, 718, 722, 730, 918, 923, 924, 992], dtype=int64) ,
       array([ 22,  28,  32,  43,  45,  54,  55,  57,  59, 103, 104, 114, 125,
              129, 134, 138, 142, 144, 151, 158, 170, 181, 185, 191, 217, 219,
              243, 245, 251, 262, 294, 302, 311, 313, 318, 324, 326, 350, 363,
              368, 381, 392, 467, 480, 491, 494, 522, 544, 545, 550, 555, 557,
              559, 569, 571, 573, 576, 577, 594, 608, 630, 650, 657, 672, 688,
              766, 779, 780, 781, 787, 789, 791, 798, 808, 811, 823, 829, 832,
              836, 846, 847, 852, 856, 857, 863, 867, 873, 886, 887, 890, 902,
              905, 906, 918, 923, 924, 935, 940, 951, 952, 955, 956, 974, 992],
             dtype=int64)                                                      ,
       array([  3,   9,  23,  50,  56,  57,  63,  69,  81,  82,  85,  90, 100,
              114, 124, 125, 126, 128, 143, 146, 155, 158, 190, 363, 415, 421,
              435, 436, 448, 453, 469, 475, 476, 481, 488, 497, 502, 505, 508,
              546, 632, 883, 884, 891, 894, 916, 920, 927, 947, 987, 988],
             dtype=int64)                                                     ,
       array([627, 674, 682, 684, 723, 728, 791, 807, 812, 814, 817, 818, 824,
              826, 828, 843, 856, 859, 860, 861, 862, 864, 866, 868, 869, 870,
              872, 889], dtype=int64)                                         ,
       array([318, 319, 335, 771, 779, 818, 900, 946, 948, 968, 972, 973, 992],
             dtype=int64)                                                      ,
       array([514, 533, 539, 547, 551, 558, 570, 582, 585, 907, 917, 952, 957,
              989, 995], dtype=int64)                                         ,
       array([136, 146, 181, 186, 218, 224, 235, 239, 247, 253, 265, 291, 300,
              302, 304, 307, 322, 329, 333, 343, 347, 353, 354, 367, 370, 378,
              382, 388, 399, 411, 767, 862, 865, 888, 982, 989, 990, 991, 996,
              997, 998], dtype=int64)                                         ,
       array([  5,  23, 168, 175, 188, 203, 211, 219, 225, 235, 236, 242, 251,
              267, 268, 279, 280, 282, 285, 286, 288, 328, 346, 373, 410, 420,
              426, 439, 450, 474, 488, 530, 534, 541, 551, 558, 559, 580, 595,
              619, 636, 640, 646, 655, 656, 663, 664, 678, 679, 683, 700, 703,
              708, 709, 710, 715, 725, 727, 729, 732, 736, 744, 754, 782, 815,
              819, 890, 902], dtype=int64)                                    ,
       array([ 88,  91,  98, 101, 103, 128, 137, 144, 186, 188, 198, 202, 210,
              213, 226, 321, 327, 336, 343, 405, 455, 460, 467, 471, 474, 479,
              480, 482, 489, 493, 494, 506, 508, 511, 520, 527, 531, 533, 535,
              546, 554, 636, 642, 649, 949, 957, 960], dtype=int64)           ,
       array([  9,  12,  28,  40,  42,  85,  94, 114, 115, 118, 128, 136, 142,
              149, 177, 181, 198, 205, 212, 224, 233, 259, 262, 263, 274, 276,
              285, 286, 291, 296, 302, 304, 309, 313, 314, 328, 330, 338, 373,
              375, 378, 525, 527, 558, 599, 609, 620, 624, 625, 635, 639, 641,
              644, 646, 647, 650, 651, 655, 656, 657, 659, 669, 678, 693, 709,
              710, 714, 719, 732, 733, 739, 741, 748, 763, 770, 775, 784, 788,
              790, 796, 797, 799, 805, 813, 815, 816, 832, 834, 839, 846, 861,
              885, 890, 895, 898, 899, 901, 908, 909, 913, 922, 925, 942, 945,
              954, 962, 963, 965, 997], dtype=int64)                          ,
       array([ 64,  84,  90,  98, 132, 156, 158, 162, 163, 164, 165, 179, 181,
              190, 192, 199, 202, 207, 220, 239, 607, 614, 678, 680, 701, 705,
              708, 722, 723, 733, 744, 749, 752, 753, 766, 767, 770, 777, 782,
              783, 785, 794, 800, 804, 810, 812, 816, 828, 831, 837, 859, 865,
              871, 880, 884, 893, 913, 944, 950, 953, 962, 982, 992], dtype=int64),
       array([145, 148, 151, 158, 175, 177, 192, 193, 228, 236, 238, 250, 253,
              260, 263, 266, 270, 292, 300, 302, 308, 310, 313, 321, 322, 331,
              336, 338, 343, 347, 360, 368, 393, 401, 408, 415, 449, 451, 455,
              460, 465, 471, 476, 870, 882, 886, 896, 919, 921, 927, 936, 938,
              944, 955, 970, 974, 977, 986, 993], dtype=int64)                ,
       array([ 28,  85, 282, 292, 294, 298, 305, 326, 327, 334, 911, 927, 953,
              978, 992, 993, 999], dtype=int64)                               ,
       array([ 12,  15,  19,  70,  74,  80,  81,  83,  99, 108, 111, 113, 115,
              124, 126, 127, 129, 131, 144, 148, 213, 214, 221, 226, 229, 355,
              367, 403, 415, 509, 511, 516, 538, 539, 545, 552, 556, 564, 752,
              757, 758, 826, 843, 846, 849, 866, 869, 874, 877, 885, 895, 896,
              908, 917, 928, 932, 933, 934, 938, 944, 960, 966, 969, 973, 990,
              991], dtype=int64)                                              ,
       array([  8,   9,  14,  17,  24,  27,  38,  48,  60,  74,  88, 102, 106,
              259, 260, 274, 297, 299, 308, 311, 316, 318, 324, 326, 351, 353,
              356, 364, 376, 388, 390, 393, 395, 405, 847, 852], dtype=int64) ,
       array([468, 515, 523, 525, 564, 569, 632, 648, 653, 655, 658, 659, 665,
              667, 669, 684, 697, 700, 701, 702, 703, 705, 707, 709, 710, 711,
              713, 730], dtype=int64)                                         ,
       array([117, 175, 194, 209, 223, 226, 251, 274, 286, 288, 291, 298, 309,
              310, 317, 319, 327, 337, 342, 343, 358, 360, 364, 367, 368, 378,
              380, 386, 400, 443, 451, 463, 485, 791, 810, 816, 830, 857, 863,
              864, 870, 876, 888, 889, 892, 897, 907, 921, 931, 932, 933, 935,
              950, 953, 962, 965, 997], dtype=int64)                          ,
       array([  0, 251, 438, 470, 474, 481, 485, 507, 514, 517, 523, 528, 534,
              538, 539, 547, 548, 549, 557, 594, 676, 700, 711, 712, 713, 719,
              720, 743, 751, 756, 771, 785, 804, 838, 845, 848, 861, 863, 864,
              866, 867, 876, 901, 907], dtype=int64)                          ,
       array([ 50,  65,  70,  74,  76,  83, 131, 172, 174, 182, 205, 210, 211,
              245, 561], dtype=int64)                                         ,
       array([209, 266, 276, 290, 291, 292, 308, 326, 388, 421, 442, 445, 451,
              456, 474, 487, 511, 533, 538, 541, 548, 551, 559, 565, 596, 820],
             dtype=int64)                                                      ,
       array([ 14,  15,  19,  24,  37,  38,  44,  46,  53,  68,  75,  80,  89,
               93,  95, 101, 102, 104, 110, 118, 120, 121, 137, 139, 144, 151,
              166, 190, 195, 200, 203, 204, 206, 213, 214, 218, 227, 230, 247,
              250, 259, 267, 268, 270, 302, 329, 411, 435, 436, 444, 481, 485,
              514, 518, 520, 532, 543, 545, 554, 555, 563, 564, 599, 602, 606,
              616, 740, 808, 812, 821, 829, 836, 851, 859, 861, 863, 868, 883,
              884, 885, 892, 896, 911, 916, 917, 918, 926, 929, 937, 954, 983,
              986, 995], dtype=int64)                                         ,
       array([  5,  11,  68, 124, 161, 169, 392, 407, 417, 421, 426, 428, 430,
              533, 534, 540, 542, 819, 820, 828, 829, 830, 841, 872, 890, 895,
              899, 901, 904, 911, 912, 918, 924, 929, 931, 936, 942, 943, 952,
              954, 961, 965, 987], dtype=int64)                               ,
       array([128, 135, 146, 153, 170, 171, 185, 190, 195, 203, 206, 209, 212,
              215, 223, 231, 233, 236, 242, 244, 245, 247, 248, 264, 278, 282,
              309, 322, 332, 336, 342, 345, 364, 368, 371, 379, 473, 475, 480,
              505, 531, 536, 579, 586, 600, 602, 606, 608, 614, 616, 626, 631,
              632, 636, 640, 641, 643, 646, 648, 664, 802, 881, 914, 919],
             dtype=int64)                                                     ,
       array([ 10,  17,  81,  83, 104, 108, 111, 125, 126, 136, 147, 152, 155,
              156, 169, 170, 173, 180, 185, 186, 188, 197, 203, 207, 213, 215,
              219, 231, 234, 240, 262, 268, 274, 283, 287, 296, 316, 347, 353,
              356, 365, 385, 395, 414, 495, 514, 518, 525, 532, 540, 544, 556,
              560, 584, 593, 594, 606, 631, 643, 649, 655, 676, 686, 687, 705,
              829, 845, 866, 902, 909], dtype=int64)                          ,
       array([ 52, 192, 362, 373, 387, 388, 389, 402, 411, 420, 427, 429, 430,
              436, 440, 443, 454, 468, 473, 477, 482, 488, 538, 541, 545, 551,
              557, 561, 562, 566, 571, 575, 582, 594, 606, 651, 657, 659, 660,
              663, 670, 671, 674, 676, 710, 712, 725, 740, 804, 897, 909, 912,
              916, 930, 955, 978, 985, 986, 999], dtype=int64)                ],
      dtype=object)